@import "../../../colors.css";

* {
    font-family: "JetBrainsMono Nerd Font", "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 12px;
    border: none;
    border-radius: 0;
}

window#waybar {
    background-color: #1a1a1a;
    color: #e2e2e9;
    border-bottom: 2px solid #000000;
}

/* Base Style for all Modules */
#custom-appmenu,
#custom-settings,
#custom-news,
#workspaces,
#custom-countdown,
#clock,
#custom-updates,
#custom-vpn,
#network,
#pulseaudio,
#custom-battery,
#tray,
#custom-exit,
#custom-topram {
    background-color: transparent;
    color: #e2e2e9;
    padding: 0px 10px;
    margin: 0;
    box-shadow: none;
    border: none;
}

/* --- ICON ONLY MODULES (Bigger Icons) --- */
#custom-appmenu,
#custom-settings,
#custom-news,
#custom-vpn,
#pulseaudio,
#custom-exit {
    font-size: 18px; 
    padding: 1px 12px;
    min-width: 35px;
}

#pulseaudio { min-width: 40px; }

/* --- TEXT BOLDING --- */
#workspaces,
#custom-countdown,
#clock,
#custom-updates,
#network,
#custom-battery,
#custom-topram {
    font-weight: 900; 
}

/* --- THE GREEN VARIANCE (Active Highlights) --- */
#custom-countdown,
#clock,
#custom-appmenu {
    color: #00ac9f;
}

#custom-appmenu { font-size: 20px; min-width: 45px; }

/* --- MODULE SPECIFICS --- */
#workspaces {
    background-color: rgba(255, 255, 255, 0.05);
    padding: 0px 4px;
    margin: 4px 5px;
    border-radius: 4px;
}
#workspaces button {
    padding: 0 8px;
    color: #ffffff;
}
#workspaces button.active {
    background-color: #2ecc71;
    color: #1a1a1a;
    border-radius: 3px;
}

/* --- THE NEUTRAL/CRITICAL --- */
#custom-exit { color: #f05053; }
#custom-vpn.disconnected { color: #f05053; }
#custom-battery.discharging { color: #f1c40f; }
#custom-battery.charging { color: #2ecc71; }

#custom-topram {
    color: #95a5a6; /* Muted Grey */
}

/* Merged Center Pill */
#custom-countdown, #clock {
    background-color: rgba(255, 255, 255, 0.03);
    margin: 4px 0;
}
#custom-countdown { border-radius: 4px 0 0 4px; padding-right: 5px; }
#clock { border-radius: 0 4px 4px 0; padding-left: 5px; }

/* UI Stability Widths */
#network { min-width: 65px; }
#custom-battery { min-width: 45px; }
